@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

// COLORS

$color-dark-gray: hsl(0, 0%, 63%);
$color-black: black;
$color-white: hsl(0, 0%, 100%);
$color-very-dark-gray: hsl(0, 0%, 27%);

// TYPOGRAPHY
$font-family-default: "League Spartan", sans-serif;
$font-size-default: 0.75em;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
